/*Colores*/
/*Fuente*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

/*Colores*/
/*Fuente*/
.btn-registro, .btn-exit {
  width: 130px;
  text-align: center;
  padding: 5px;
  margin: 2px auto;
  border-radius: 15px;
  color: white; }

/*Etiquetas del body*/
body {
  margin: 0;
  min-height: 100vh;
  font-family: font;
  color: #221f1f;
  font-size: 1rem; }
  body p {
    margin: 0.5em;
    line-height: 1.2em;
    size: 1.5em; }
  body span {
    font-weight: 400; }
  body .fondo-color {
    clip-path: polygon(100% 0, 3% 0, 100% 100%);
    background-color: #187e93;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1; }

h1 {
  font-size: 2.5rem;
  /* margin: 0.5em; */
  padding-top: 0.5em;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  white-space: pre-line;
  font-weight: 700; }

h2 {
  font-size: 2rem;
  /* margin: 0.5em; */
  padding-top: 0.5em;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: oblique;
  font-weight: 500;
  color: #0a5044; }

.radius {
  border-radius: 50px; }

.background {
  background: radial-gradient(whitesmoke, pink);
  padding: 10px;
  box-shadow: 0 5px 20px rgba(57, 55, 55, 0.2); }

.imagen-fondo-inicio {
  width: 100%;
  height: 80vh;
  justify-items: center;
  font-family: "Montserrat", sans-serif;
  color: antiquewhite;
  background-image: url(../img/reinaRoja2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.inicio {
  padding-top: 2rem; }

.contenedor {
  width: 90%;
  margin: 0 auto;
  max-height: 100vh; }

.animacion {
  animation-delay: 1s;
  animation-duration: 5s; }

/************************header***********************************/
.header {
  width: 100%;
  height: 80vh;
  padding: auto;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%; }
  .logo:hover {
    transform: scale(1.2); }

#navbarNav {
  margin-right: 5rem;
  justify-content: flex-end; }

/***********************************Elementos del main************************************/
.main {
  padding-top: 5rem;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.btn-registro {
  background-color: #3fe7cb; }
  .btn-registro:hover {
    color: black;
    transition-duration: 0.2s;
    text-transform: uppercase; }

.btn-exit {
  background-color: #0a5044; }
  .btn-exit:hover {
    color: black;
    transition-duration: 0.2s;
    text-transform: uppercase; }

.grilla {
  display: grid;
  background: #ded0d0;
  max-width: 90%;
  margin: 0 auto;
  padding: 1rem;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto; }
  .grilla div {
    position: relative; }

.grilla-galeria:nth-child(1) {
  grid-column: 1/3; }

.grilla-galeria:nth-child(5) {
  grid-row: 2 /4; }

.grilla-galeria:nth-child(6) {
  grid-column: 2/4; }

.img-galeria {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.img {
  width: 50%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 30px;
  box-shadow: cadetblue;
  object-fit: cover; }

.mapa {
  margin-top: 3em;
  width: 70%; }

.carousel-item {
  width: 650px;
  height: 450px; }

.formato-error {
  max-width: 90%;
  height: 490px;
  margin: 0 auto;
  padding: 1rem;
  margin: 0 auto; }

/************************Formulario**********************************/
.formulario__titulo {
  padding-top: 1em;
  margin: 0;
  font-family: font;
  line-height: 0.5em;
  text-align: center;
  font-size: 1.5rem; }

.formulario {
  padding: 30px 20px 0px 20px;
  margin: 0 auto;
  border-radius: 4px; }
  .formulario label {
    text-align: left; }

.form-fondo {
  background: linear-gradient(45deg, black, white);
  border-radius: 15px;
  margin: 0, auto;
  width: 100%;
  justify-items: center; }

.formato {
  width: 100%;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 1px solid;
  font-size: 0.7em; }

p label {
  height: 2em;
  text-align: left;
  font-size: 1em; }

.form__btn {
  padding-top: 5px;
  margin: 0 auto;
  display: block;
  align-items: baseline;
  font-weight: bold; }

button {
  border: none;
  padding: 10px;
  border-radius: 15px; }
  button a {
    text-decoration: none;
    color: red;
    size: 2rem;
    font-weight: 400; }

.img-error {
  width: 100%;
  height: auto;
  object-fit: cover;
  align-items: center; }

/*****************************FOOTER***************************/
.footer {
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: antiquewhite; }
  .footer .container-foo {
    display: flex;
    align-items: center; }
  .footer .iconos .icono1,
  .footer .icono2,
  .footer .icono3 {
    size: 15px;
    margin: 0;
    padding: 5px;
    transition: all .2s;
    justify-content: right;
    color: antiquewhite;
    border-radius: 4rem; }
  .footer .icono1:hover {
    color: #1877f2;
    box-shadow: 0 0 2px #1877f2;
    border: solid 1px #1877f2; }
  .footer .icono2:hover {
    color: #e60073;
    box-shadow: 0 0 2px #e60073;
    border: solid 1px #e60073; }
  .footer .icono2:hover {
    color: #e60073;
    box-shadow: 0 0 2px #e60073;
    border: solid 1px #e60073; }
  .footer .icono3:hover {
    color: #1da1f2;
    box-shadow: 0 0 2px #1da1f2;
    border: solid 1px #1da; }

/***********************media query**********************************/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    line-height: 1.2em;
    text-align: center;
    justify-content: center; }
    body p {
      line-height: 1.5em;
      size: 2.5em;
      margin: 1.5em; }
    body span {
      font-weight: 700; }
    body .header {
      height: 100%;
      width: auto; }
    body .logo {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin-left: 3rem; }
    body .main {
      padding-top: 2rem;
      width: 100%;
      height: 100vh;
      align-items: center;
      justify-content: center; }
    body .mapa {
      margin-top: 3em;
      width: 100%; }
    body .form-fondo {
      display: inline-block;
      width: 40%; }
    body .img {
      width: 60%;
      height: 80%;
      object-fit: cover; }
    body .grilla {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto; }
      body .grilla div {
        position: relative; }
    body .footer {
      display: flex;
      height: 50px;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      text-align: center; }
      body .footer .container-foo {
        display: flex;
        align-items: center; }
      body .footer .iconos .icono1,
      body .footer .icono2,
      body .footer .icono3 {
        font-size: 30px;
        transition: all .2s;
        justify-content: right; } }
