@import'variables';

@mixin encabezado($size){
    font-size: $size; 
	/* margin: 0.5em; */
    padding-top: 0.5em;
	text-align:center;
	font-family: $font;
    

    @if $size > 2rem{
        white-space: pre-line;
        font-weight: 700;
       
    }
    @else if $size == 2rem{
        font-style: oblique;
        font-weight: 500;
        color:map-get($sweet-colors, primary-dark);
    } 
    @else{
        font-weight: 400;
        color:map-get($sweet-colors, primary );
    }

}
