/*Colores*/
$gradientBW: linear-gradient(45deg, black, white);
$pinky:radial-gradient(whitesmoke, pink);
$DGrey:(rgb(222, 208, 208));


$sweet-colors:(primary:#15ab92,primary-light:lighten(#15ab92,20%), primary-dark:darken(#15ab92,20%), text1:white, text2:black);

$shadow: 0 5px 20px rgba(57, 55, 55, .2);

/*Fuente*/
$font: 'Montserrat', sans-serif; 

