@import'variables';
@import'reset';
@import'mixins';

@function colores($nombre-color) {
    @return map-get($sweet-colors , $nombre-color);

}

%btn {
    width: 130px;
    text-align: center;
    padding: 5px;
    margin: 2px auto;
    border-radius: 15px;
    color: colores(text1);
}

/*Etiquetas del body*/
body {
    margin: 0;
    min-height: 100vh;
    font-family: font;
    color: rgb(34, 31, 31);
    font-size: 1rem;

    p {
        margin: 0.5em;
        line-height: 1.2em;
        size: 1.5em;
    }

    span {
        font-weight: 400;
    }

  
}


h1 {

    @include encabezado(2.5rem);

}

h2 {
    @include encabezado(2rem);


}

.radius {
    border-radius: 50px;
}

.background {
    background: $pinky;
    padding: 10px;
    box-shadow: $shadow;

}

.imagen-fondo-inicio {
    width: 100%;
    height: 80vh;
    justify-items: center;
    font-family: $font;
    color: antiquewhite;

    background: {
        image: url(../img/reinaRoja2.jpg);
        position: center center;
        repeat: no-repeat;
        attachment: fixed;
        size: cover;

    }
}

.inicio {
    padding-top: 2rem;
}

.contenedor {
    width: 90%;
    margin: 0 auto;
    max-height: 100vh;

}

.animacion {
    animation-delay: 1s;
    animation-duration: 5s;
}

/************************header***********************************/

.header {
    width: 100%;
    height: 80vh;
    padding: auto;


    background: {
        color: black;
        repeat: no-repeat;
        position: center;
        size: cover;
    }

}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    &:hover {
        transform: scale(1.2);
    }

}

#navbarNav {
    margin-right: 5rem;
    justify-content: flex-end;
}

/***********************************Elementos del main************************************/
.main {
    padding-top: 5rem;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.btn-registro {
    @extend %btn;
    background-color: colores(primary-light);


    &:hover {
        color: black;
        transition-duration: 0.2s;
        text-transform: uppercase;
    }

}

.btn-exit {
    @extend %btn;
    background-color: colores(primary-dark);

    &:hover {
        color: black;
        transition-duration: 0.2s;
        text-transform: uppercase;

    }
}


.grilla {
    display: grid;
    background: $DGrey;
    max-width: 90%;
    margin: 0 auto;
    padding: 1rem;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    div {
        position: relative;
    }

}

.grilla-galeria:nth-child(1) {
    grid-column: 1/3;
}

.grilla-galeria:nth-child(5) {
    grid-row: 2 /4;
}

.grilla-galeria:nth-child(6) {
    grid-column: 2/4;
}

.img-galeria {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.img {
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 30px;
    box-shadow: cadetblue;
    object-fit: cover;

}

.mapa {
    margin-top: 3em;
    width: 70%;
}

.carousel-item {
    padding-top: 5rem;
    width: 650px;
    height: 550px;
}

.formato-error {
    max-width: 90%;
    height: 490px;
    margin: 0 auto;
    padding: 1rem;
    margin: 0 auto;
}

/************************Formulario**********************************/
.formulario__titulo {
    padding-top: 1em;
    margin: 0;
    font-family: font;
    line-height: 0.5em;
    text-align: center;
    font-size: 1.5rem;
}

.formulario {
    padding: 30px 20px 0px 20px;
    margin: 0 auto;
    border-radius: 4px;

    label {
        text-align: left;

    }

}

.form-fondo {
    background: $gradientBW;
    border-radius: 15px;
    margin: 0, auto;
    width: 100%;
    justify-items: center;

}
.fondo-color {
    clip-path: polygon(100% 0, 3% 0, 100% 100%);
    background-color: #187e93;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.formato {
    width: 100%;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid;
    font-size: 0.7em;
}

p label {
    height: 2em;
    text-align: left;
    font-size: 1em;


}

.form__btn {
    padding-top: 5px;
    margin: 0 auto;
    display: block;
    align-items: baseline;
    font-weight: bold;

}

button {
    border: none;
    padding: 10px;
    border-radius: 15px;

    a {
        text-decoration: none;
        color: red;
        size: 2rem;
        font-weight: 400;
    }
}

.img-error {
    width: 100%;
    height: auto;
    object-fit: cover;
    align-items: center;

}

/*****************************FOOTER***************************/
.footer {
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: antiquewhite;


    .container-foo {
        display: flex;
        align-items: center;
    }

    .iconos .icono1,
    .icono2,
    .icono3 {
        size: 15px;
        margin: 0;
        padding: 5px;
        transition: all .2s;
        justify-content: right;
        color: antiquewhite;
        border-radius: 4rem;
    }

    .icono1:hover {
        color: #1877f2;
        box-shadow: 0 0 2px #1877f2;
        border: solid 1px #1877f2;
    }

    .icono2:hover {
        color: #e60073;
        box-shadow: 0 0 2px #e60073;
        border: solid 1px #e60073;
    }

    .icono2:hover {
        color: #e60073;
        box-shadow: 0 0 2px #e60073;
        border: solid 1px #e60073;
    }

    .icono3:hover {
        color: #1da1f2;
        box-shadow: 0 0 2px #1da1f2;
        border: solid 1px #1da;
    }

}

/***********************media query**********************************/
@media screen and (min-width:768px) {
    body {
        margin: 0;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        line-height: 1.2em;
        text-align: center;
        justify-content: center;


        p {
            line-height: 1.5em;
            size: 2.5em;
            margin: 1.5em;
        }

        span {
            font-weight: 700;
        }


        .header {
            height: 100%;
            width: auto;
        }

        .logo {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin-left: 3rem;
        }


        .main {
            padding-top: 2rem;
            width: 100%;
            height: 100vh;
            align-items: center;
            justify-content: center;
        }

        .mapa {
            margin-top: 3em;
            width: 100%;

        }
        .fondo-color {
            clip-path: polygon(100% 0, 3% 0, 100% 100%);
            background-color: #187e93;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
        }

        .form-fondo {
            display: inline-block;
            width: 40%;
        }

        .img {
            width: 60%;
            height: 80%;
            object-fit: cover;
        }

        .grilla {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;

            div {
                position: relative;
            }

        }
        .footer {
            display: flex;
            height: 50px;
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;


            .container-foo {
                display: flex;
                align-items: center;

            }

            .iconos .icono1,
            .icono2,
            .icono3 {
                font-size: 30px;
                transition: all .2s;
                justify-content: right;

            }

        }
    }
}