@import'variables';
@import'reset';
@import'mixins';

@function colores($nombre-color) {
    @return map-get($sweet-colors , $nombre-color);

}

%btn {
    width: 100px;
    text-align: center;
    padding: 5px;
    margin: 2px auto;
    border-radius: 15px;
    color: colores(text1);

}

/*Etiquetas del body*/
body {

    margin: 0;
    min-height: 90vh;
    font-family: font;
    color: rgb(34, 31, 31);
    font-size: 1rem;

    p {
        margin: 0.5em;
        line-height: 1em;
        size: 1em;

        &:hover {
            font-weight: 400;
        }
    }


    h1 {

        @include encabezado(2.5rem);

    }

    h2 {
        @include encabezado(2rem);


    }
}


.radius {
    border-radius: 10px;
}

.background {
    background: $gradientBW;
    padding: 10px;
    box-shadow: $shadow;

}

.imagen-fondo-inicio {
    width: 100%;
    height: 100vh;

    justify-items: center;

    background: {
        color: rgb(22, 22, 22);
        image: url(../img/reinaRoja2.jpg);
        position: center center;
        repeat: no-repeat;
        attachment: fixed;
        size: cover;

    }

    font-family: $font;
    color: antiquewhite;
}


.contenedor {
    width: 90%;
    margin: 0 auto;
    max-height: 100vh;

}

.containerObras {
    display: flex;
    align-items: center;
}

.fondo {
    background-image: linear-gradient(rgb(245, 245, 246), rgb(8, 8, 8));
    box-shadow: $shadow;
}

.animacion {
    animation-delay: 1s;
    animation-duration: 5s;
}

/*header*/

.header {
    width: 100%;
    height: 80px;
    padding: auto;


    background: {
        color: black;
        repeat: no-repeat;
        position: center;
        size: cover;
    }

}

/*Elementos del main*/
.main {
    padding-top: 5rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.btn-registro {
    @extend %btn;
    background-color: colores(primary-light);
}

.btn-exit {
    @extend %btn;
    background-color: colores(primary-dark);
}


.grilla {
    display: grid;
    background: $DGrey;
    width: 100%;
    margin: auto;
    padding: 1rem;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    align-items: center;
    justify-items: stretch;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    grid-template-areas:
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6";
}

.img {
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 30px;
    box-shadow: cadetblue;

}

.mapa {
    margin-bottom: 2em;
}

.carousel-item {
    width: 360px;
    height: 640px;
}


/*Formulario*/
.formulario__titulo {
    padding-top: 1em;

    margin: 0;
    font-family: font;
    line-height: 0.5em;
    text-align: center;
    font-size: 1.5rem;
}

.formulario {
    padding: 30px 20px 0px 20px;
    margin: 0 auto;
    border-radius: 4px;

    label {
        text-align: left;

    }

}

.form-fondo {
    background: $gradientBW;
    border-radius: 15px;
    margin:0, auto;
    width: 100%;
    /* display: inline-block; */
    justify-items: center;

}

.formato {
    width: 100%;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid;
    font-size: 0.7em;
}

p label {
    height: 2em;
    text-align: left;
    font-size: 1em;


}

.form__btn {
    padding-top: 5px;
    margin: 0 auto;
    display: block;
    align-items: baseline;
    font-weight: bold;

}


/*FOOTER*/
.footer {
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(42, 41, 41);
    color: antiquewhite;
    text-align: center;
}

/* .redes {
    display: flex;

    img {
        width: 30px;
        text-align: center;
    }
} */

/***********************media query**********************************/

@media screen and (min-width:568px) {
    body {
        margin: 0;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        line-height: 1.2em;
        text-align: center;
        justify-content: center;

        p {
            line-height: 2em;
            size: 2.5em;
            margin: 1.5em;

            &:hover {
                font-weight: 500;
            }
        }

    }

    .header {
        height: 100%;
    }

    .main {
        padding-top: 2rem;
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }

       /*  .form__btn {
            display: flex;
            justify-content: center;
        } */
        .form-fondo{
             display: inline-block;
             width: 40%;
        }
       
        .footer {
            display: flex;
            height: 50px;
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
            background-color: rgb(42, 41, 41);
            text-align: center;

            .iconos {
                font-size: 25px;
                padding: 0, 10px;

                i:hover {
                    color: lightgray;
                    animation: infinite;
                }
            }

        }
        .animacion{
            animation: trans;
        }

        .grilla {
            grid-template-columns: (1fr 1fr);
            grid-template-areas:
                "img1 img2"
                "img3 img4"
                "img3 img5"
                "img6 img5";

        }

        .img1 {
            grid-area: img1;

        }

        .img2 {
            grid-area: img2;
        }

        .img3 {
            grid-area: img3;
        }

        .img4 {
            grid-area: img4;
        }

        .img5 {
            grid-area: img5;
        }

        .img6 {
            grid-area: img6;
        }
    }